## Macro title: Hide content from anonymous users
## Description: Only display content inside this block to authenticated users. Doesn't block API source view, so don't use this for secrets.
##
## Developed by: rrotter
## @noparams

## require user login to view this content
#if($req.userPrincipal.name)
$!body
#else
#end
